.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__location {
    background: blue;

    &--active {
      background: palevioletred;
      color: white;
    }
  }
}