.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 24px;
  padding: 0 16px;
  height: 40px;

  &__location {
    font-family: "Alexandria-Thin";
    font-size: 32px;
    cursor: pointer;
    flex: 1 1 0px;

    &:nth-child(2) {
      text-align: center;
    }
    &:nth-child(3) {
      text-align: right;
    }
    
    &--active {
      font-family: "Alexandria-Medium";
      color: rgb(114, 175, 227);
    }
  }
}

@media screen and (max-width: 700px) {
  .navbar {
    padding-left: 0px;
    padding-right: 0px;
  }
}